@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: transparent;
    display: flex;    ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    /* color: #fff; */
    color: #200E3A;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    /* color: #fff; */
    color: #200E3A;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    /* background: #fff; */
    background: #200E3A;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .logo {
        font-size: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .navbar a {
        margin: 10px 0;
    }
}