@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --first-color: #DCF2F1;
  --second-color: #7FC7D9;
  --thrid-color: #365486;
  --fourth-color: #0F1035;
  --white-color: #fff;
  --border-color: #ccc;
  --border-hover-color: #ccc;
  --box-shadow-color: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
  min-height: 50vh;
  max-height: 100vh;
  /* background: url('/images/top-view-traveling-items-arrangement.jpg'); */
  background: var(--first-color);
  background-size: cover;
  background-position: center;
}

div.gallery {
  transition: .3s;
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  border-radius: 15px;
  margin-bottom: 15px;
}
  
div.gallery:hover {
  border: 1px solid var(--border-hover-color);
  transform: scale(1.1);
  align-items: center;
  position: relative;
  box-shadow: var(--box-shadow-color);
}
  
div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}
  
div.desc {
  padding: 15px;
  text-align: center;
}

.gallery {
  width: 100%; 
  max-width: auto; 
  height: 400px;
  margin: auto; 
  overflow: hidden; 
  transition: .3s ease;
}

.gallery:hover {
  width: 100%;
  max-width: auto; 
  height: auto;
  margin: auto;
  overflow: hidden; 
} 

.gallery img {
  width: 100%; 
  height: auto; 
}

.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}