@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --first-color: #DCF2F1;
    --second-color: #7FC7D9;
    --thrid-color: #365486;
    --fourth-color: #0F1035;
    --white-color: #fff;
    --border-color: #ccc;
    --border-hover-color: #ccc;
    --box-shadow-color: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    min-height: 50vh;
    max-height: 100vh;
    /* background: url('/images/top-view-traveling-items-arrangement.jpg'); */
    background: var(--first-color);
    background-size: cover;
    background-position: center;
}

.wel_pg {
    margin-top: 17%;
    margin-left: 40%;
    text-align: center;
    color: var(--fourth-color);
}

/* .logsign {
    padding: 10px;
    border-style: solid;
    border-radius: 15px;
} */

.tagline {
    /* background-color: white; */
    background-color: var(--second-color);
    margin-left: 100px;
    margin-right: 100px;
}

.titletext {
    font-size: 50px;
}

img {
    position: absolute;
    margin-top: 650px;
    width: 650px;
}